.noticias p {
    @extend %estiloParrafo;
}
.noticiasBox{
    display: flex;
    justify-content: space-around;
    align-items: start;
    gap: 2rem;

}
.noticias img {
    max-width: 672px;
    max-height: 378px;

}